/* BUTTONS */
.btn{
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
}
.btn-header{
    background-color: inherit;
    color: #efeff1;
}
.btn-header input{
    background-color: #464649;
    color: #efeff1;
    border: none;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header-mid .btn-header i{
    background-color: #3a3a3d;
    color: #efeff1;
    border: none;
    padding: 8px 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn.btn-purple{
    background-color: #9147ff;
    color: #efeff1;
}
.btn.btn-dark{
    background-color: #3a3a3d;
    color: #efeff1;
}

/* TAGS */
.tag {
    font-size: 13px;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #464649;
}


/* TYPO */
body{
    font-family:'Roboto' , sans-serif; 
}

/* HEADER */
header{
    max-height: 50px;
    padding: 10px;
    background-color: #18181b;
}
.header-left-small,.header-mid,.header-right-small,.header-right-big,.header-left-big{
    display: flex;
    height: 30px;
    gap: 5px;
    align-items: center;
}
.header-right-small,.header-right-big{
    justify-content: flex-end;
}
.header-mid{
    justify-content: center;
}
.logo{
    height: 30px;
}
@media screen and (max-width:991px){
    .header-mid,.header-right-big,.header-left-big{
        display: none;
    }
}
@media screen and (min-width:992px){
    .header-right-small,.header-left-small{
        display: none;
    }
    
}


/* MAIN-ASIDE */
main{
    display: flex;
}
.live-channels{
    width: 150px;
    height: calc(100vh - 120px);
    background-color: red;
}
@media screen and (max-width:991px){
    aside{
        display: none;
    }
}
.user{
    display: flex;
}
.user-left{
    display: flex;
    flex-wrap: wrap;
}
.user .category{
    font-size: 12px;
}


.main-container{
    background-color: #0e0e10;
    width: 100%;
    color: #efeff1;
    padding: 30px 20px;
}
.consigliati img{
    width: 100%;
}
.consigliati .card{
    padding: 10px 5px;
}
.consigliati .card-info{
    position: relative;
    padding:0 30px;
}
.consigliati .card-info i{
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 20px;
}
.categories .card{
    padding: 10px 5px;
}
.categories .img{
    height: 70%;
    width: 100%;
}

/* FOOTER */
footer{
    /* RISOLVERE PROBLEMA OVERFLOW */
    background-color: #6100c1;
    color: white ;
    font-size: 18px;
    padding: 10px 10px;
}
.footer-right, .footer-left{
    display: flex;
    align-items: center;

}
.footer-right{
    height: 100%;
    justify-content: flex-end;
    padding-right: 40px;
}
.footer-left img{
    height: 50px;
    margin-right: 20px;
}

@media screen and (max-width:992px){
    footer{
        display: none;
    }
}