/* BUTTONS */
.btn{
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

/* TYPO */
body{
    font-family:'Roboto' , sans-serif; 
}

/* HEADER */
header{
    background-color: red;
}
.header-left-small,.header-mid,.header-right-small,.header-right-big,.header-left-big{
    display: flex;
    align-items: center;
}
.header-right-small,.header-right-big{
    justify-content: flex-end;
}
.header-mid{
    justify-content: center;
}
.logo{
    height: 30px;
}
@media screen and (max-width:992px){
    .header-mid,.header-right-big,.header-left-big{
        display: none;
    }
}
@media screen and (min-width:992px){
    .header-right-small,.header-left-small{
        display: none;
    }
    
}




/* FOOTER */
footer{
    /* RISOLVERE PROBLEMA OVERFLOW */
    background-color: #6100c1;
    color: white ;
    font-size: 18px;
    padding: 10px 10px;
}
.footer-right, .footer-left{
    display: flex;
    align-items: center;

}
.footer-right{
    height: 100%;
    justify-content: flex-end;
    padding-right: 40px;
}
.footer-left img{
    height: 50px;
    margin-right: 20px;
}